<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h2>Quiz: el popular juego de las preguntas</h2>
		<div>
		<h3> Autores...</h3>
		<p> MIRIADAX<br>Juan Quemada<br></p>
		</div>
		<div>
		<h3> Adaptado en aprendizaje por...</h3>
		<p> Fernando Gutierrez<br></p>
		<p>(2015)</p><br>
		</div>
		<span><a href="/">volver a inicio</a></span>
	</body>
</html>

  
